
html {
    background-color: #00539F;
}

body {
    width: 600px;
    margin: 0 auto;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.container {
    width: 100px;
    clear: both;
  }
  
.container input {
  width: 100%;
  clear: both;
}

label {
    color: white;
}

